registry=http://registry.npmmirror.com
@futurefab:registry=https://npm.futurefab.cn/
//npm.futurefab.cn/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJmdXR1cmVmYWIiXSwibmFtZSI6ImZ1dHVyZWZhYiIsImdyb3VwcyI6WyJmdXR1cmVmYWIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNjg5NjY1MDc3LCJuYmYiOjE2ODk2NjUwNzcsImV4cCI6MjAwNTAyNTA3N30.zdTCaNLp4oQfLF76ZQCe1fGjhp9lzysGPsDK9a7yqCk
auto-install-peers=true
